<mindmap>
    <map id="fm_imagemap" name="fm_imagemap">
        <area coords="441,195,606,279" title="myGRaCE" href="#FMID_911765918FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-demog##mental-health-risk,sh,gen-demog##mental-health-risk,hto,gen-demog##mental-health-risk,sn,gen-demog##mental-health-risk,vuln-su,gen-demog" showprogressicon="left" coords="242,4,455,27" title="mijn persoonlijke gegevens" href="#FMID_708587450FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-state-mind##mental-health-risk,sh,gen-state-mind##mental-health-risk,hto,gen-state-mind##mental-health-risk,sn,gen-state-mind##mental-health-risk,vuln-su,gen-state-mind" coords="253,100,430,123" title="mijn gemoedstoestand" href="#FMID_69188807FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-state-mind,gen-feel-emot##mental-health-risk,sh,gen-state-mind,gen-feel-emot##mental-health-risk,hto,gen-state-mind,gen-feel-emot##mental-health-risk,sn,gen-state-mind,gen-feel-emot##mental-health-risk,vuln-su,gen-state-mind,gen-feel-emot" showprogressicon="left" coords="74,73,230,95" title="gevoelens en emoties" href="#FMID_1710911393FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-state-mind,gen-self-worth-p##mental-health-risk,sh,gen-state-mind,gen-self-worth-p##mental-health-risk,hto,gen-state-mind,gen-self-worth-p##mental-health-risk,sn,gen-state-mind,gen-self-worth-p##mental-health-risk,vuln-su,gen-state-mind,gen-self-worth-p" showprogressicon="left" coords="99,105,227,145" title="mijn gevoel van eigenwaarde" href="#FMID_1494736236FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-involve-social##mental-health-risk,sh,gen-involve-social##mental-health-risk,hto,gen-involve-social##mental-health-risk,sn,gen-involve-social##mental-health-risk,vuln-su,gen-involve-social" coords="219,237,396,279" title="mijn betrokkenheid bij het leven v ..." href="#FMID_816180316FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-involve-social,motive-eng##mental-health-risk,sh,gen-involve-social,motive-eng##mental-health-risk,hto,gen-involve-social,motive-eng##mental-health-risk,sn,gen-involve-social,motive-eng##mental-health-risk,vuln-su,gen-involve-social,motive-eng" showprogressicon="left" coords="84,177,192,217" title="mijn motivatie en deelname" href="#FMID_1063785187FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-involve-social,gen-soc-contxt##mental-health-risk,sh,gen-involve-social,gen-soc-contxt##mental-health-risk,hto,gen-involve-social,gen-soc-contxt##mental-health-risk,sn,gen-involve-social,gen-soc-contxt##mental-health-risk,vuln-su,gen-involve-social,gen-soc-contxt" showprogressicon="left" coords="56,229,198,251" title="mijn sociale wereld" href="#FMID_1875165358FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-involve-social,gen-currnt-bhvr##mental-health-risk,sh,gen-involve-social,gen-currnt-bhvr##mental-health-risk,hto,gen-involve-social,gen-currnt-bhvr##mental-health-risk,sn,gen-involve-social,gen-currnt-bhvr##mental-health-risk,vuln-su,gen-involve-social,gen-currnt-bhvr" showprogressicon="left" coords="53,262,198,284" title="mijn dagelijks leven" href="#FMID_1605043317FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-involve-social,gen-subs-misuse##mental-health-risk,sh,gen-involve-social,gen-subs-misuse##mental-health-risk,hto,gen-involve-social,gen-subs-misuse##mental-health-risk,sn,gen-involve-social,gen-subs-misuse##mental-health-risk,vuln-su,gen-involve-social,gen-subs-misuse" showprogressicon="left" coords="87,294,199,316" title="drank en drugs" href="#FMID_244183090FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-health-care##mental-health-risk,sh,gen-health-care##mental-health-risk,hto,gen-health-care##mental-health-risk,sn,gen-health-care##mental-health-risk,vuln-su,gen-health-care" coords="219,394,409,417" title="mijn gezondheid en zorg" href="#FMID_731878243FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-health-care,mental-health##mental-health-risk,sh,gen-health-care,mental-health##mental-health-risk,hto,gen-health-care,mental-health##mental-health-risk,sn,gen-health-care,mental-health##mental-health-risk,vuln-su,gen-health-care,mental-health" showprogressicon="left" coords="0,348,197,370" title="mijn geestelijke gezondheid" href="#FMID_320280543FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-health-care,gen-phys-hlth-prb##mental-health-risk,sh,gen-health-care,gen-phys-hlth-prb##mental-health-risk,hto,gen-health-care,gen-phys-hlth-prb##mental-health-risk,sn,gen-health-care,gen-phys-hlth-prb##mental-health-risk,vuln-su,gen-health-care,gen-phys-hlth-prb" showprogressicon="left" coords="65,386,192,426" title="mijn lichamelijke gezondheid" href="#FMID_285407468FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-health-care,gen-meds-therpy##mental-health-risk,sh,gen-health-care,gen-meds-therpy##mental-health-risk,hto,gen-health-care,gen-meds-therpy##mental-health-risk,sn,gen-health-care,gen-meds-therpy##mental-health-risk,vuln-su,gen-health-care,gen-meds-therpy" showprogressicon="left" coords="113,439,190,461" title="mijn zorg" href="#FMID_1388309352FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-person-thinking##mental-health-risk,sh,gen-person-thinking##mental-health-risk,hto,gen-person-thinking##mental-health-risk,sn,gen-person-thinking##mental-health-risk,vuln-su,gen-person-thinking" coords="594,24,768,66" title="mijn persoonlijkheid en manier van ..." href="#FMID_1137279856FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-person-thinking,gen-personality##mental-health-risk,sh,gen-person-thinking,gen-personality##mental-health-risk,hto,gen-person-thinking,gen-personality##mental-health-risk,sn,gen-person-thinking,gen-personality##mental-health-risk,vuln-su,gen-person-thinking,gen-personality" showprogressicon="right" coords="788,0,903,22" title="persoonlijkheid" href="#FMID_1151251422FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-person-thinking,ment-fac##mental-health-risk,sh,gen-person-thinking,ment-fac##mental-health-risk,hto,gen-person-thinking,ment-fac##mental-health-risk,sn,gen-person-thinking,ment-fac##mental-health-risk,vuln-su,gen-person-thinking,ment-fac" showprogressicon="right" coords="788,32,940,54" title="denken en geheugen" href="#FMID_1996417330FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-person-thinking,insight-resp##mental-health-risk,sh,gen-person-thinking,insight-resp##mental-health-risk,hto,gen-person-thinking,insight-resp##mental-health-risk,sn,gen-person-thinking,insight-resp##mental-health-risk,vuln-su,gen-person-thinking,insight-resp" showprogressicon="right" coords="789,62,961,102" title="begrijpen van risico's en verantwo ..." href="#FMID_1604049278FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,adv-life-event##mental-health-risk,sh,adv-life-event##mental-health-risk,hto,adv-life-event##mental-health-risk,sn,adv-life-event##mental-health-risk,vuln-su,adv-life-event" coords="668,191,793,214" title="mijn levensreis" href="#FMID_1443952917FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,adv-life-event,other-chall-exp,gen-env-grew-up##mental-health-risk,sh,adv-life-event,other-chall-exp,gen-env-grew-up##mental-health-risk,hto,adv-life-event,other-chall-exp,gen-env-grew-up##mental-health-risk,sn,adv-life-event,other-chall-exp,gen-env-grew-up##mental-health-risk,vuln-su,adv-life-event,other-chall-exp,gen-env-grew-up" showprogressicon="right" coords="816,131,944,171" title="omgeving waarin ik opgroeide" href="#FMID_1486350240FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,adv-life-event,other-chall-exp,gen-educ-expr##mental-health-risk,sh,adv-life-event,other-chall-exp,gen-educ-expr##mental-health-risk,hto,adv-life-event,other-chall-exp,gen-educ-expr##mental-health-risk,sn,adv-life-event,other-chall-exp,gen-educ-expr##mental-health-risk,vuln-su,adv-life-event,other-chall-exp,gen-educ-expr" showprogressicon="right" coords="819,190,917,212" title="schooldagen" href="#FMID_1334510522FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,adv-life-event,other-chall-exp,gen-eating-dis##mental-health-risk,sh,adv-life-event,other-chall-exp,gen-eating-dis##mental-health-risk,hto,adv-life-event,other-chall-exp,gen-eating-dis##mental-health-risk,sn,adv-life-event,other-chall-exp,gen-eating-dis##mental-health-risk,vuln-su,adv-life-event,other-chall-exp,gen-eating-dis" showprogressicon="right" coords="815,228,923,250" title="eetstoornissen" href="#FMID_1584805262FM" shape="rect"/>
        <area code-path="mental-health-risk" coords="563,353,652,395" title="behouden veiligheid" href="#FMID_630164916FM" shape="rect"/>
        <area code-path="mental-health-risk,vuln-su" showprogressicon="right" coords="708,282,924,305" title="gevoel van kwetsbaarheid? " href="#FMID_751432290FM" shape="rect"/>
        <area code-path="mental-health-risk,sn" showprogressicon="right" coords="704,320,885,343" title="niet voor uzelf zorgen?" href="#FMID_1718688338FM" shape="rect"/>
        <area code-path="mental-health-risk,sh" showprogressicon="right" coords="703,357,922,380" title="gevoel om uzelf te kwetsen?" href="#FMID_961537879FM" shape="rect"/>
        <area code-path="mental-health-risk,hto" showprogressicon="right" coords="702,391,946,414" title="gevoel om anderen te kwetsen?" href="#FMID_1217542536FM" shape="rect"/>
        <area code-path="mental-health-risk,suic" showprogressicon="right" coords="701,426,944,449" title="gevoel om alles te beëindigen? " href="#FMID_815717573FM" shape="rect"/>
    </map>
</mindmap>

