<mindmap>
    <map id="fm_imagemap" name="fm_imagemap">
        <area coords="415,192,552,422" title="" href="#FMID_1300671985FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-demog##mental-health-risk,sh,gen-demog##mental-health-risk,hto,gen-demog##mental-health-risk,sn,gen-demog##mental-health-risk,vuln-su,gen-demog" coords="606,2,736,25" title="personal details" href="#FMID_613054464FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-person-thinking##mental-health-risk,sh,gen-person-thinking##mental-health-risk,hto,gen-person-thinking##mental-health-risk,sn,gen-person-thinking##mental-health-risk,vuln-su,gen-person-thinking" coords="611,57,736,99" title="personality and way of thinking" href="#FMID_1137279856FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-person-thinking,gen-personality##mental-health-risk,sh,gen-person-thinking,gen-personality##mental-health-risk,hto,gen-person-thinking,gen-personality##mental-health-risk,sn,gen-person-thinking,gen-personality##mental-health-risk,vuln-su,gen-person-thinking,gen-personality" showprogressicon="right" coords="759,28,846,50" title="personality" href="#FMID_1151251422FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-person-thinking,ment-fac##mental-health-risk,sh,gen-person-thinking,ment-fac##mental-health-risk,hto,gen-person-thinking,ment-fac##mental-health-risk,sn,gen-person-thinking,ment-fac##mental-health-risk,vuln-su,gen-person-thinking,ment-fac" showprogressicon="right" coords="757,64,950,86" title="mental   cognitive faculties" href="#FMID_1996417330FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-person-thinking,insight-resp##mental-health-risk,sh,gen-person-thinking,insight-resp##mental-health-risk,hto,gen-person-thinking,insight-resp##mental-health-risk,sn,gen-person-thinking,insight-resp##mental-health-risk,vuln-su,gen-person-thinking,insight-resp" showprogressicon="right" coords="758,99,918,121" title="insight   responsibility" href="#FMID_1604049278FM" shape="rect"/>
        <area code-path="mental-health-risk" coords="569,322,620,345" title="risks" href="#FMID_574427563FM" shape="rect"/>
        <area code-path="mental-health-risk,suic" coords="665,152,733,175" title="suicide" href="#FMID_815717573FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,sui-specific,suic-past-att" showprogressicon="right" coords="768,131,887,151" title="previous episodes" href="#FMID_1431316094FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,sui-specific,suic-curr-sit-behav" showprogressicon="right" coords="759,162,945,182" title="current situation and behaviour" href="#FMID_1465294261FM" shape="rect"/>
        <area code-path="mental-health-risk,sh" coords="677,216,759,239" title="self harm" href="#FMID_961537879FM" shape="rect"/>
        <area code-path="mental-health-risk,sh,sh-specific,sh-past-curr-ep" showprogressicon="right" coords="794,195,913,215" title="previous episodes" href="#FMID_1592114844FM" shape="rect"/>
        <area code-path="mental-health-risk,sh,sh-specific,self-harm-curr-sit-behav" showprogressicon="right" coords="785,226,971,246" title="current situation and behaviour" href="#FMID_1980319436FM" shape="rect"/>
        <area code-path="mental-health-risk,absconding" coords="677,279,850,302" title="escape or absconding" href="#FMID_227851380FM" shape="rect"/>
        <area code-path="mental-health-risk,absconding,absc-specific,absc-prev" showprogressicon="right" coords="885,258,1004,278" title="previous episodes" href="#FMID_1509025644FM" shape="rect"/>
        <area code-path="mental-health-risk,absconding,absc-specific,absc-curr-intent" showprogressicon="right" coords="876,289,1062,309" title="current situation and behaviour" href="#FMID_842103368FM" shape="rect"/>
        <area code-path="mental-health-risk,hto" coords="661,352,859,375" title="harm to others or damage" href="#FMID_1217542536FM" shape="rect"/>
        <area code-path="mental-health-risk,hto,hto-specific,hto-past-curr-ep" showprogressicon="right" coords="894,318,1013,338" title="previous episodes" href="#FMID_1203882476FM" shape="rect"/>
        <area code-path="mental-health-risk,hto,hto-specific,harm-dam-curr-sit-behav" showprogressicon="right" coords="885,349,1071,369" title="current situation and behaviour" href="#FMID_1068001283FM" shape="rect"/>
        <area code-path="mental-health-risk,risk-dep" showprogressicon="right" coords="893,379,1043,402" title="risk to dependents" href="#FMID_961772570FM" shape="rect"/>
        <area code-path="mental-health-risk,sn" coords="669,411,769,434" title="self neglect" href="#FMID_1718688338FM" shape="rect"/>
        <area code-path="mental-health-risk,sn,sn-appearnce" showprogressicon="right" coords="795,411,935,431" title="appearance indicators" href="#FMID_1990581786FM" shape="rect"/>
        <area code-path="mental-health-risk,vuln-su" coords="655,438,759,461" title="vulnerability" href="#FMID_751432290FM" shape="rect"/>
        <area code-path="mental-health-risk,vuln-su,vuln-specific,vuln-app-behavr" showprogressicon="right" coords="785,440,971,460" title="current situation and behaviour" href="#FMID_1871777246FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-state-mind##mental-health-risk,sh,gen-state-mind##mental-health-risk,hto,gen-state-mind##mental-health-risk,sn,gen-state-mind##mental-health-risk,vuln-su,gen-state-mind" coords="276,28,384,51" title="state of mind" href="#FMID_69188807FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-state-mind,gen-feel-emot##mental-health-risk,sh,gen-state-mind,gen-feel-emot##mental-health-risk,hto,gen-state-mind,gen-feel-emot##mental-health-risk,sn,gen-state-mind,gen-feel-emot##mental-health-risk,vuln-su,gen-state-mind,gen-feel-emot" showprogressicon="left" coords="96,10,253,32" title="feelings and emotions" href="#FMID_1710911393FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-state-mind,gen-self-worth-p##mental-health-risk,sh,gen-state-mind,gen-self-worth-p##mental-health-risk,hto,gen-state-mind,gen-self-worth-p##mental-health-risk,sn,gen-state-mind,gen-self-worth-p##mental-health-risk,vuln-su,gen-state-mind,gen-self-worth-p" showprogressicon="left" coords="115,42,250,64" title="sense of self worth" href="#FMID_1494736236FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-presentation##mental-health-risk,sh,gen-presentation##mental-health-risk,hto,gen-presentationgen-presentation##mental-health-risk,sn,gen-presentation##mental-health-risk,vuln-su,gen-presentation" showprogressicon="left" coords="177,87,371,110" title="behaviour at assessment" href="#FMID_1002407974FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-involve-social##mental-health-risk,sh,gen-involve-social##mental-health-risk,hto,gen-involve-social##mental-health-risk,sn,gen-involve-social##mental-health-risk,vuln-su,gen-involve-social" coords="234,194,372,236" title="involvement with life and others" href="#FMID_816180316FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-involve-social,motive-eng##mental-health-risk,sh,gen-involve-social,motive-eng##mental-health-risk,hto,gen-involve-social,motive-eng##mental-health-risk,sn,gen-involve-social,motive-eng##mental-health-risk,vuln-su,gen-involve-social,motive-eng" showprogressicon="left" coords="95,134,207,174" title="motivation and engagement" href="#FMID_1063785187FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-involve-social,gen-soc-contxt##mental-health-risk,sh,gen-involve-social,gen-soc-contxt##mental-health-risk,hto,gen-involve-social,gen-soc-contxt##mental-health-risk,sn,gen-involve-social,gen-soc-contxt##mental-health-risk,vuln-su,gen-involve-social,gen-soc-contxt" showprogressicon="left" coords="108,186,213,208" title="social context" href="#FMID_1875165358FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-involve-social,gen-currnt-bhvr##mental-health-risk,sh,gen-involve-social,gen-currnt-bhvr##mental-health-risk,hto,gen-involve-social,gen-currnt-bhvr##mental-health-risk,sn,gen-involve-social,gen-currnt-bhvr##mental-health-risk,vuln-su,gen-involve-social,gen-currnt-bhvr" showprogressicon="left" coords="30,219,213,241" title="general current behaviour" href="#FMID_1605043317FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-involve-social,gen-subs-misuse##mental-health-risk,sh,gen-involve-social,gen-subs-misuse##mental-health-risk,hto,gen-involve-social,gen-subs-misuse##mental-health-risk,sn,gen-involve-social,gen-subs-misuse##mental-health-risk,vuln-su,gen-involve-social,gen-subs-misuse" showprogressicon="left" coords="86,251,214,273" title="substance misuse" href="#FMID_244183090FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-health-care##mental-health-risk,sh,gen-health-care##mental-health-risk,hto,gen-health-care##mental-health-risk,sn,gen-health-care##mental-health-risk,vuln-su,gen-health-care" coords="255,335,381,358" title="health and care" href="#FMID_731878243FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-health-care,mental-health##mental-health-risk,sh,gen-health-care,mental-health##mental-health-risk,hto,gen-health-care,mental-health##mental-health-risk,sn,gen-health-care,mental-health##mental-health-risk,vuln-su,gen-health-care,mental-health" showprogressicon="left" coords="128,298,233,320" title="mental health" href="#FMID_320280543FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-health-care,gen-phys-hlth-prb##mental-health-risk,sh,gen-health-care,gen-phys-hlth-prb##mental-health-risk,hto,gen-health-care,gen-phys-hlth-prb##mental-health-risk,sn,gen-health-care,gen-phys-hlth-prb##mental-health-risk,vuln-su,gen-health-care,gen-phys-hlth-prb" showprogressicon="left" coords="115,336,228,358" title="physical health" href="#FMID_285407468FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,gen-health-care,gen-meds-therpy##mental-health-risk,sh,gen-health-care,gen-meds-therpy##mental-health-risk,hto,gen-health-care,gen-meds-therpy##mental-health-risk,sn,gen-health-care,gen-meds-therpy##mental-health-risk,vuln-su,gen-health-care,gen-meds-therpy" showprogressicon="left" coords="64,371,226,393" title="concordance with care" href="#FMID_1388309352FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,adv-life-event##mental-health-risk,sh,adv-life-event##mental-health-risk,hto,adv-life-event##mental-health-risk,sn,adv-life-event##mental-health-risk,vuln-su,adv-life-event" coords="235,431,389,454" title="adverse life events" href="#FMID_1443952917FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,adv-life-event,gen-life-abuse##mental-health-risk,sh,adv-life-event,gen-life-abuse##mental-health-risk,hto,adv-life-event,gen-life-abuse##mental-health-risk,sn,adv-life-event,gen-life-abuse##mental-health-risk,vuln-su,adv-life-event,gen-life-abuse" showprogressicon="left" coords="87,410,205,432" title="abuse to person" href="#FMID_1334510522FM" shape="rect"/>
        <area code-path="mental-health-risk,suic,adv-life-event,other-chall-exp##mental-health-risk,sh,adv-life-event,other-chall-exp##mental-health-risk,hto,adv-life-event,other-chall-exp##mental-health-risk,sn,adv-life-event,other-chall-exp##mental-health-risk,vuln-su,adv-life-event,other-chall-exp" showprogressicon="left" coords="0,446,211,468" title="other challenging experiences" href="#FMID_250333679FM" shape="rect"/>
    </map>
</mindmap>

