.top-buffer {
  margin-top: 20px; }

.bottom-buffer {
  margin-bottom: 20px; }

.messages {
  margin-top: 20px; }

.success {
  color: green; }

.error {
  color: red; }

.stretch {
  width: 100%; }

.screen {
  min-height: 700px;
  border-width: 1px 1px 1px 1px;
  border-color: black; }
