.top-buffer {
  margin-top: 20px; }

.bottom-buffer {
  margin-bottom: 20px; }

.messages {
  margin-top: 20px; }

.success {
  color: green; }

.error {
  color: red; }

.singleLine {
  display: inline-block;
  width: 100%; }

.singleLineParent {
  min-width: 150px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden; }
