$margin: 20px;

.top-buffer {
  margin-top: $margin;
}

.bottom-buffer {
  margin-bottom: $margin;
}

.messages {
  margin-top: $margin;
}

.success {
  color: green;
}

.error {
  color: red;
}

.singleLine {
  display: inline-block;
  width: 100%;
}

.singleLineParent {
  min-width: 150px;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}
